*{margin: 0; padding: 0;}
/*********************************/

.wrapper{
  background: #eee;
  width:50%;
  margin:10% auto;
}
/*************************FORM*****************/

form{
	padding: 5vw;
	line-height: 25px;
}

label{

    padding-top: 2vw;
    padding-bottom: 1vw;
    margin-left: 10vw;
}

input[type="submit"]{
	margin: 3vw;
	margin-left:12vw;
}
h1{
  text-align: center;
padding-top: 4vw;
padding-bottom: 3vw;
color: rgba(189, 9, 6, 0.37);
text-shadow: 2px 2px 9px rgba(150, 150, 150, 1);
border-bottom: 2px solid #2e442e;
}
.btn-info{
  margin: 7vw;
  margin-left: 1vw;
  margin-top: 7vw;
}

.msg{
	text-align: center;
    background: rgb(35, 113, 42);
    color: #fff;
    font-size: 19px;
    font-family: cursive;
    padding: 5px 0;
}
